
.Slides{
    display:none;
    width:569.15px;
    height:310px;
   
}
.logo{
    width:100px;
    height:100px;
}
.heading{
    text-align:center;
   
}
.header{
    background-color: rgb(205, 220, 250);
    font-family: 'Josefin Sans';
}
.navbar.navbar-expand-lg.navbar-light{
    background-color: rgb(211, 222, 245);
    margin-bottom:40px;
}
.contactForm{
    font-family: 'Josefin Sans';
}
form{
    width:350px;
}
.footer{
    height:300px;
 background-color:rgb(205, 220, 250);
 font-family: 'Courier Prime', monospace;
 font-size:15px;
 text-align:center;
 font-weight:450;
 font-style:italic;
}


.insta{
    color:rgb(237, 83, 152);
}
.fa{
    font-size:20px;
}
.copyright{
    font-size:15px;
}
.fa-copyright{
    font-size:14px;
}
.Footerheading{
    font-weight:600;
    font-family: 'Open Sans', sans-serif;
    font-style:italic;
}
.slideshow{
    margin-bottom: 80px;
}
.card{
    height:240px;
    font-family: 'Dancing Script', cursive;
    font-size:25px;
    margin-bottom:60px;
   
}


div.navbar-nav{
    width:100%;
    display: flex;
    justify-content: space-around;
    font-size:20px;

}

@media (max-width: 768px) {
    
    
    .logo {
        margin-bottom:15px;
        margin-top:10px;
    }
    .header h3{
        font-size: 20px;
        
    }
    .header .contact{
        float:right;
        margin-top:15px;
        font-size:13px;
        margin-left:15px;
    }
    .slideshow .slides2{
        margin-bottom:35px;
        padding:10px;
    }
}